*{
    padding: 0;
    margin: 0;
    color: black;
    /* background-color: whitesmoke; */
}
#navbar{
    height:55px;
    background-color: white;
}
#logo{
    color:black;
    font-size: 40px;
    margin-left: 30px;
    margin-top: 5px;
    font-family: impact;
}
a1{
    margin-top: 5px;
    margin-left: 500px;
    margin-right: 50px;
    font-family: arial;
}
a{
    margin-top: 5px;
    margin-right: 30px;
}
img{
    height: 290px;
    width: 600px;
    margin-left: 350px;
    margin-top: 20px;
    border-radius: 15px;
}
input{
    border-radius: 20px;
    border-style: solid;
}
.search-icon{
    color: black;
    display: flex;
    align-items: center;
}
.search-icon{
    width: 5px;
    height: 5px;
}
.homepage{
    display: flex;
}
.box{
    height:200px;
    width: 2000px;
    border: 5px solid;
    border-radius: 8px;
    border-color: #BB08A5;
    margin: 30px;
    margin-top: none;
    align-content: end;

}
.header2{
    margin-left: 25px;
}
.box1{
    background-image: url(ghat_aarti.jpg);
    background-size: cover;
}
.box2{
    background-image: url(chhath.jpg);
    background-size: cover;
}
.box3{
    background-image: url(ghat_aarti.jpg);
    background-size: cover;
}
.box4{
    background-image: url(ghat_aarti.jpg);
    background-size: cover;
}
.box5{
    background-image: url(ghat_aarti.jpg);
    background-size: cover;
}
.boxText{
    display: flex;
    /* margin-left: 50px; */
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 80px;
}
.mvp{
    margin-left: 50px;
}
.up{
    margin-left: 150px;
}
.ny{
    margin-left: 150px;
}
.elp{
    margin-left: 170px;
}
.tu{
    margin-left: 150px;
}
h2{
    background-color: #FFDCDC;
    height: 40px;
    padding-left: 40px;
    margin-top: 5px;
    align-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.box_design{
    display: flex;
    height: 120px;
    background-color: #FFDCDC;
    margin-top: 20px;
    border-radius: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.banarasimg{
    /* display: block; */
    height: 80px;
    width: 220px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-image: url(banaras-cover.jpg);
    background-size: cover;
}
.jaipurimg{
    /* display: block; */
    height: 80px;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-image: url(jaipur-cover.jpg);
    background-size: cover;
}
.chennaiimg{
    /* display: block; */
    height: 80px;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-image: url(chennai-cover.jpg);
    background-size: cover;
}
.kolkataimg{
    /* display: block; */
    height: 80px;
    width: 350px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-image: url(kolkata-cover.jpg);
    background-size: cover;
}
.amritsarimg{
    /* display: block; */
    height: 80px;
    width: 320px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-image: url(amritsar-cover.jpg);
    background-size: cover;}
    .matturimg{
        /* display: block; */
        height: 80px;
        width: 280px;
        padding: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        background-image: url(mattur-cover.jpg);
        background-size: cover;
    }
    .gayaimg{
        /* display: block; */
        height: 80px;
        width: 340px;
        padding: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        background-image: url(Gaya-cover.jpg);
        background-size: cover;
    }
.text{
    /* display: block; */
   /* margin-left: 150px; */
    padding-right: 20px;
    margin-top: 20px;
}
